#all {
	position: fixed;
	height: 100%;
	width: auto;
	left: 50%;
	top: left;
	transform: translate( -50%, 0%);
}

#board {
	height: 100%;
	width: auto;
}

.fitxa {
	width: 40px;
	height: auto;
	position: absolute;
	bottom: 75px;
	left: 40px;
}

#img2 {
	transform: translate( 0px, 50px);
}

#dice {
	width: 100px;
	height: auto;
	position: fixed;
	right: 100px;
	top: 50%;
	transform: translate( 0%, -50%);
	cursor: pointer;
}

.num {
	font-family: Verdana, sans-serif;
	text-align: center;
	display: none;
	cursor: url(small.png), url(cursor.cur), url(small.svg), pointer;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	background-color: black;
	color: white;
	position: fixed;
	right: 150px;
	top: 50%;
	transform: translate( 0%, -50%);
	height: 20px;
	width: 20px;
}

#nope {
	z-index: 10;
	background-color: transparent;
}
